* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

h1 {
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.choice {
    width: 165px;
    height: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover {
    cursor: pointer;
    background-color: #081b31;
    transition: 0.4s;
}

img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.score-board {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-align: center;
    gap: 5rem;
}

#user-score,
#computer-score {
    font-size: 4rem;
}

.msg-container {
    margin-top: 5rem;
    text-align: center;
}

#msg {
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    text-align: center;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}